<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="style/css/base.css" />
		<link rel="stylesheet" href="style/css/style.css" />
		<link rel="stylesheet" href="style/css/news.css" />
		<script type="text/javascript" src="style/js/vue.min.js" ></script>
		<script type="text/javascript" src="style/js/base.js" ></script>
		<script type="text/javascript" src="style/js/footer.js" ></script>
	</head>
	<body>
		<!--手机端菜单-->
		<div id="news">
			<menu-bar></menu-bar>

		
		<!--新闻开始-->
			<div class="wrap background_color">
				<div class="banner">
					<img src="style/images/banner_news.jpg">
				</div>
				<div class="news">
					<ul class="clearfix">
						<li>
							<a href=""><img src="style/images/news_nav_4.png">企业新闻</a>
						</li>
						<li>
							<a href=""><img src="style/images/news_nav_4.png">行业资讯</a>
						</li>
						<li>
							<a href=""><img src="style/images/news_nav_4.png">会展信息</a>
						</li>
						<li>
							<a href=""><img src="style/images/news_nav_4.png">文献汇编</a>
						</li>
					</ul>
				</div>
				<div class="sec">
					<ul>
						<li v-for="(item,index) in newsData" :key="index" class="clearfix">
							<a href="news_details.html">
								<div class="sec_img">
									<img :src="item.img">
								</div>
								<div class="sec_text">
									<p>{{item.newsTitle}}</p>
									<span>{{item.time}}</span>
									<span class="sec_more">MORE</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				
				
				<div class="page">
					<ul class="clearfix">
			        	<li v-if="cur>1"><a v-on:click="cur--,pageClick()"><span>«</span></a></li>
			        	<li v-if="cur==1"><a class="banclick"><span>«</span></a></li>
			        	<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
			            	<a v-on:click="btnClick(index)">{{ index }}</a>
			       		</li>
			        	<li v-if="cur!=all"><a v-on:click="cur++,pageClick()"><span>»</span></a></li>
			        	<li v-if="cur == all"><a class="banclick"><span>»</span></a></li>
			        	<li><a>共<i>{{all}}</i>页</a></li>
			  		</ul>		
			    </div>		
			</div>
		<!--新闻结束-->
		
		
		
			<!--footer开始-->
			<footer-nav></footer-nav>
			<!--footer结束-->
		
		</div>
	</body>
	<script>
		new Vue({
			el:'#news',
			data:{
				all:8,
				cur:1,
				newsData:[
					{
						id:1,
						newsTitle:'校企携手共努力，互惠共赢创未来 ——记伊普诺康与安徽理工大学战略合作签约',
						img:'style/images/news_wap.png',
						time:'2018/12/29'
					},
					{
						id:2,
						newsTitle:'重磅！伊普诺康和润达医疗达成“GPO”战略合作',
						img:'style/images/news_1.png',
						time:'2018/12/29'
					},
					{
						id:3,
						newsTitle:'伊普诺康乔迁誌禧',
						img:'style/images/company.jpg',
						time:'2018/12/29'
					}	
				]
			},
			computed: {
		        indexs: function(){
		          	var left = 1;
		         	var right = this.all;
		          	var ar = [];
		          	if(this.all>= 4){
		            	if(this.cur > 3 && this.cur < this.all-2){
		                    left = this.cur - 2
		                    right = this.cur + 2
		            	}else{
		                	if(this.cur<=3){
		                   		left = 1
		                    	right = 4
		                	}else{
		                    	right = this.all
		                    	left = this.all -4
		                	}	
		            	}
		         	}
		        	while (left <= right){
		            	ar.push(left)
		            	left ++
		        	}
		        	return ar
		    	}
		    },
		    methods: {
        		btnClick: function(data){//页码点击事件
            		if(data != this.cur){
                		this.cur = data 
            		}
        		},
        		pageClick: function(){
            		//console.log('现在在'+this.cur+'页');
        		}
    		}
		})
	</script>
</html>
