.info{
	margin-top: 30px;
	background: #F6F6F6;
	padding: 30px;
	box-sizing: border-box;
}
.left,
.txt{
	width: 720px;
	color: #999;
	box-sizing: border-box;
	line-height: 24px;
	letter-spacing: 1px;
	text-indent: 2em;
	margin-right: 30px;
}
.right{
	width: 458px;
	
}

.pic{
	width: 460px;
}

.organization{
	text-align: center;
	background: url(../images/organization_bg.jpg) no-repeat left;
	background-size: contain;
}
.organization img{
	width:1000px;
	height: 600px;
}
