.culture{
	width: 1100px;
	margin: 0 auto;
}
.culture .feature{
	height: 480px;
}
.feature .pic,
.feature .info{
	width: 550px;
	height: 480px;
}

.culture .info{
	background: #F6F6F6;
}
.info h2{
	font-size: 36px;
    height: 150px;
    color: #fff;
    position: relative;
    background: #0063BD;
    padding-left: 100px;
    padding-top: 50px;
    box-sizing: border-box;
}
.info h2 span{
	display: block;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 60px;
}
.info h2 i{
	font-size: 50px;
	color:#155ea1;
	font-weight: normal;
	position: absolute;
	top: -15px;
	left: 0px;
}
.info .txt{
	padding: 50px;
    box-sizing: border-box;
    line-height:26px;
    color: #999;
    letter-spacing: 1px;
    
}
