.category {
	background: #EBEEF7;
	line-height: 42px;
	margin-bottom: 30px;
}

.category ul li{
	float: left;
}
.category li a{
	display: block;
	padding: 6px 20px;
	margin-right: 10px;
}
.category li.active a,
.category li a:hover{
	background: #337ab7;
	color: #fff;
}
.list{
	display: none;
}
.list table{
	border: 1px solid #ccc;
}
.list th{
	background: #eee;
	padding: 10px 0;
	border: 1px solid #ccc ;
}
.list td{
	padding: 10px 0;
}
.page{
	margin-top: 50px;
}
.page li{
	float: left;
}
.page li:first-child a{
	border-left:1px solid #ddd;
}
.page li a{
	display: block;
	padding: 6px 12px;
	border-right: 1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	color: #337ab7;
}
.page li.active a{
	background: #337ab7;
	color: #fff;
	border:1px solid #337ab7;
}
